.project
.classpath
.settings/
target/
*.docx

backend/.settings
backend/target/
backend/.classpath
backend/.factorypath
backend/.project
frontend/node_modules/

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*